/* Landing Page */
.active{
  color: orange;
}

.notActive{
  color: aliceblue;
}

/* Homepage */
.links {
    color: rgb(107, 105, 105);
 }
 
 .links.active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
 }

 .sidelinks:hover{
  color: rgb(12, 223, 156);
  transition-duration: 1s;
} 

.sidelinks.active {
  color: orange;
  text-decoration: underline;
}


 @keyframes marquee {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 .animate-marquee {
   display: flex;
   gap: 1rem;
   animation: marquee 20s linear infinite;
 }

 .sidebar {
  transition: transform 0.7s ease-in-out;
  transform: translateX(100%); /* Hidden state */
}

.sidebar.open {
  transform: translateX(0); /* Visible state */
}
